h1{
    color:white;
    text-shadow: #00bfff 1px 0 10px;
}
h4{
    color: navy;
}
table{
    border-collapse: collapse;
    margin-top: 20px;
    background-color :aliceblue 
}
th, td{
    border: solid 2px navy;
    padding: 10px;
}
th{
    font-size: large;
    font-weight:600;
}
select{
    background-color:lightcyan;
    color: navy;
}
button{
    background-color: lightcyan;
    color: navy;
}
